.ingredients{
    font-family: 'Lucida Sans';
    font-size: 13px;
    font-weight: 100;
    text-align: left;
}
.image{
    border-radius: 20px;
    height: 300px;
    width: 200px;
    display: flex;
    margin: 20px 0;
    justify-content: center;
}

.imbody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image img{
    max-width: 100%;
    height: auto;
}
.content{
    max-width: 300px;
    margin: auto;
}
.point{
    font-size: 15px;
    font-weight: 150;
    font-family: 'Consolas';
    text-align: center;
}
.lasagna{
    background-color: aqua;
}
.paneer{
    background-color: aliceblue;
}
.rice{
    background-color: blanchedalmond;
}